[submodule "src/external/glfw"]
	path = src/external/glfw
	url = https://github.com/glfw/glfw.git

[submodule "src/external/gtest"]
	path = src/external/gtest
	url = https://github.com/google/googletest.git
